.dashboard a{
    text-decoration: none;
    margin-left: 20px;
    font-weight: 700;
    background-color: #1E2C4E;
    color: white;
    padding: 10px 40px;
    border-radius: 20px;
   
    
}

@media only screen and (max-width:688px) {
    .dashboard a{
        margin-left: 0;
       margin-top: 20px;
    }
    .dashboard{
        display: flex;
        flex-direction: column;
    }
}